<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# article: https://ogp.me/ns/article#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>お問い合わせ｜株式会社プロキューブ</title>
    <meta name="description" itemprop="description" content="株式会社プロキューブのお問い合わせページです。">
    <link rel="canonical" href="https://procube.info/contact/">
    <!-- ogp -->
    <meta property="og:title" content="お問い合わせ｜株式会社プロキューブ">
    <meta property="og:description" content="株式会社プロキューブのお問い合わせページです。">
    <meta property="og:url" content="https://procube.info/contact/">
    <meta property="og:type" content="article">
    <!--#include virtual="/assets/inc/head.html" -->
    <!-- 構造化データ（パンくず） -->
    <script type="application/ld+json">
      {{
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {{
            "@type": "ListItem",
            "position": 1,
            "name": "HOME",
            "item": "https://procube.info/"
          }},
          {{
            "@type": "ListItem",
            "position": 2,
            "name": "お問い合わせ",
            "item": "https://procube.info/contact/"
          }}
        ]
      }}
    </script>
  </head>
  <body>
    <!--#include virtual="/assets/inc/header.html" -->
    <main class="l-main js-main" data-page="contact">
      <div class="l-main__inner">
        <section class="l-mainBand">
          <div class="l-mainBand__inner">
            <h1 class="c-title01">
              <span class="c-title01__main"><span class="c-title01__mainAccent01">CONTACT</span></span>
              <span class="c-title01__sub"><span class="c-title01__subText">お問い合わせ</span></span>
            </h1>
          </div>
          <div class="l-breadcrumb">
            <div class="l-breadcrumb__inner">
              <div class="l-breadcrumb__wrap">
                <ul class="l-breadcrumb__list">
                  <li class="l-breadcrumb__item">
                    <a href="/" class="l-breadcrumb__link">HOME</a>
                  </li>
                  <li class="l-breadcrumb__item">
                    <span class="l-breadcrumb__text">お問い合わせ</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <!-- /.l-mainBand -->
        <div class="l-mainBody--spaceBottom">
          <section class="l-mainSection">
            <div class="l-mainSection__inner">
              <div class="l-mainSection__wrap">
                <h2 class="c-title02" data-position="center">
                  <span class="c-title02__read">CONTACT</span>
                  <span class="c-title02__text">お問い合わせ内容確認</span>
                </h2>
                <div class="p-contactSign">
                  <div class="p-contactSignStep">
                    <ul class="p-contactSignStep__list">
                      <li class="p-contactSignStep__item" data-step="on">
                        <img src="/assets/img/contact/icon_step01_on.svg" class="p-contactSignStep__icon" alt="STEP01" width="72" height="72" loading="lazy">
                      </li>
                      <li class="p-contactSignStep__item" data-step="on">
                        <img src="/assets/img/contact/icon_step02_on.svg" class="p-contactSignStep__icon" alt="STEP02" width="72" height="72" loading="lazy">
                      </li>
                      <li class="p-contactSignStep__item" data-step="off">
                        <img src="/assets/img/contact/icon_step03_off.svg" class="p-contactSignStep__icon" alt="STEP03" width="72" height="72" loading="lazy">
                      </li>
                    </ul>
                  </div>
                  <div class="p-contactSign__detail">
                    <p class="p-contactSign__text">以下はお問い合わせフォームにご入力された内容です。<br>ご確認の上、送信ボタンを押してください。</p>
                  </div>
                </div>
                <form class="p-contactForm" action="contact.py">
                  <input type="hidden" name="mode" value="send">
                  <input type="hidden" name="kind" value="{kind}">
                  <input type="hidden" name="company" value="{company}">
                  <input type="hidden" name="name" value="{name}">
                  <input type="hidden" name="tel" value="{tel}">
                  <input type="hidden" name="email" value="{email}">
                  <input type="hidden" name="comment" value="{comment}">
                  <table class="p-contactFormTable">
                    <colgroup>
                      <col style="width: 29.09%;">
                      <col>
                    </colgroup>
                    <tbody>
                      <tr>
                        <th>
                          <p class="p-contactForm__label">お問い合わせの項目<span class="p-contactForm__labelBadge">必須</span></p>
                        </th>
                        <td>
                          <p class="p-contactForm__text">{kind}</p>
                        </td>
                      </tr>
                      <tr>
                        <th>
                          <p class="p-contactForm__label">御社名<span class="p-contactForm__labelBadge">必須</span></p>
                        </th>
                        <td>
                          <p class="p-contactForm__text">{company}</p>
                        </td>
                      </tr>
                      <tr>
                        <th>
                          <p class="p-contactForm__label">氏名<span class="p-contactForm__labelBadge">必須</span></p>
                        </th>
                        <td>
                          <p class="p-contactForm__text">{name}</p>
                        </td>
                      </tr>
                      <tr>
                        <th>
                          <p class="p-contactForm__label">電話番号<span class="p-contactForm__labelBadge">必須</span></p>
                        </th>
                        <td>
                          <p class="p-contactForm__text">{tel}</p>
                        </td>
                      </tr>
                      <tr>
                        <th>
                          <p class="p-contactForm__label">メールアドレス<span class="p-contactForm__labelBadge">必須</span></p>
                        </th>
                        <td>
                          <p class="p-contactForm__text">{email}</p>
                        </td>
                      </tr>
                      <tr>
                        <th>
                          <p class="p-contactForm__label">ご質問・ご相談内容<span class="p-contactForm__labelBadge">必須</span></p>
                        </th>
                        <td>
                          <p class="p-contactForm__text--type01">{comment}</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="p-contactInduction">
                    <div class="p-contactInduction__item">
                      <div class="c-btn01" data-style="white" data-direction="left">
                        <button class="c-btn01__link" type="button" onclick="history.back();"><span class="c-btn01__text">修正する</span></button>
                      </div>
                    </div>
                    <div class="p-contactInduction__item">
                      <div class="c-btn01">
                        <button class="c-btn01__link" type="submit"><span class="c-btn01__text">送信する</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.l-mainSection__wrap -->
            </div>
          </section>
          <!-- /.l-mainSection -->
        </div>
        <!-- /.l-mainBody -->
      </div>
      <!-- /.l-main__inner -->
    </main>
    <!-- /.l-main -->
    <!--#include virtual="/assets/inc/footer.html" -->
    <!--#include virtual="/assets/inc/footer-js.html" -->
  </body>
</html>