RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
DirectoryIndex index.html index.htm index.shtml index.php index.cgi

Options -Indexes +Includes
AddHandler server-parsed html

AuthUserFile /home/procube-kobe/www/.htpasswd
AuthType Basic
AuthName "Web access"
Satisfy all
Order deny,allow

ErrorDocument 404 /404/